<div class="repository-container">
  <div *ngIf="repositoryInfo; else loading">
    <div>
      From GitHub API:
    </div>
    <h2 class="repository-title">
      full_name: {{repositoryInfo.full_name}}
    </h2>
    <div>
      git_url: {{repositoryInfo.git_url}}
    </div>
    <div>
      name: {{repositoryInfo.name}}
    </div>
    <div>
      language: {{repositoryInfo.language}}
    </div>
    <div>
      starsgazers_count{{repositoryInfo.stargazers_count}}
    </div>
    --------
    <div>
      From local JSON file:
    </div>
    <div class="repository-basic-info">
      {{repositoryMetrics | json}}
    </div>
  </div>
  <ng-template #loading>
    <h4>Loading...</h4>
  </ng-template>
</div>
