.repository-container {
  background: #fff;
  width: 80vw;
  height: 95%;
  box-shadow: 0 0 4px black;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr;
  grid-gap: 2em;
  padding: 10px 50px;
  box-sizing: border-box;
  font-family: FiraSans, sans-serif;

}

.repository-main-info{
  grid-row: 1/2;
  grid-column: 1/3;
}

.repository-basic-info {
  grid-row: 2/3;
  grid-column: 1/2;
}

.repository-metrics {
  grid-column: 2/3;
  grid-row: 2/3;
}

.repository-charts-container {
  grid-row: 3/4;
  grid-column: 1/3;
}

.repository-title{
  text-align: center;
}

.repository-section-title{
  text-align: center;
}
