<div class="repository-container">
  <div class="repository-main-info">
    <h2 *ngIf="repositoryInfo" class="repository-title">
      full_name: {{repositoryInfo.full_name}}
    </h2>
  </div>

  <div class="repository-basic-info">

    <div *ngIf="repositoryInfo; else loading">
      <p class="repository-section-title">
        Basic Info
      </p>
      <p>
        language: {{repositoryInfo.language}}
      </p>
      <p>
        created at: {{repositoryInfo.created_at | date}}
      </p>
      <p>
        starsgazers_count: {{repositoryInfo.stargazers_count}}
      </p>
      <p>
        forks count: {{repositoryInfo.forks_count}}
      </p>
      <p>
        license key: {{repositoryInfo.license.key}}
      </p>
    </div>

    <ng-template #loading>
      <h4>Loading...</h4>
    </ng-template>

  </div>
  <div class="repository-metrics">
    <p class="repository-section-title">
      Metrics Info
    </p>
    <p>LMA_0: {{repositoryMetrics.LMA_0}}</p>
    <p>LMA_1: {{repositoryMetrics.LMA_1}}</p>
    <p>LMA_2: {{repositoryMetrics.LMA_2}}</p>
    <p>LMA_3: {{repositoryMetrics.LMA_3}}</p>
  </div>

  <div class="repository-charts-container">
    <div >
      <div >
        <div style="display: block;">
          <canvas baseChart width="400" height="400"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
      <div  style="margin-bottom: 10px">
        <table class="table table-responsive table-condensed">
          <tr>
            <th *ngFor="let label of lineChartLabels">{{label}}</th>
          </tr>
          <tr *ngFor="let d of lineChartData">
            <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
          </tr>
        </table>
        <button (click)="randomize()">CLICK</button>
      </div>
    </div>
  </div>


</div>
