<div class="repository-container">
  <div class="repository-main-info">
    <h2 *ngIf="repositoryInfo" class="repository-title">
      full_name: {{repositoryInfo.full_name}}
    </h2>
  </div>

  <div class="repository-basic-info">

    <div *ngIf="repositoryInfo; else loading">
      <p class="repository-section-title">
        Basic Info
      </p>
      <p>
        language: {{repositoryInfo.language}}
      </p>
      <p>
        created at: {{repositoryInfo.created_at | date}}
      </p>
      <p>
        starsgazers_count: {{repositoryInfo.stargazers_count}}
      </p>
      <p>
        forks count: {{repositoryInfo.forks_count}}
      </p>
      <p>
        license key: {{repositoryInfo.license.key}}
      </p>
    </div>

    <ng-template #loading>
      <h4>Loading...</h4>
    </ng-template>

  </div>
  <div class="repository-metrics">
    <p class="repository-section-title">
      Metrics Info
    </p>
    <div style="display: block; max-width: 100%; margin: auto;">
      <canvas *ngIf="dataReady"
              baseChart
              [datasets]="lmaChartData"
              [labels]="lmaChartLabels"
              [options]="lmaChartOptions"
              [legend]="true"
              [chartType]="'line'"></canvas>
    </div>
  </div>

  <div class="repository-charts-container">
      <p class="repository-section-title">
        Basic Info Chart
      </p>
        <div class="repository-canvas-container">
          <canvas *ngIf="dataReady"
                  baseChart width="100" height="100"
                  [datasets]="repInfoChartData"
                  [labels]="repInfoChartLabels"
                  [legend]="true"
                  [chartType]="'line'"></canvas>
        </div>
  </div>


</div>
