<div class="about-container">
  <p>
    The Applied Software Engineering Research Group is part of the Laboratory of Software Engineering, from the
    Department
    of Computer Science, at the Federal University of Minas Gerais (UFMG), Belo Horizonte, Brazil.
  </p>
  <div>
    <p>
      Our mission includes:
    </p>
    <ul>
      <li>
        Developing use-inspired research in software engineering, with focus on techniques and methods for building and
        evolving
        Complex software systems
      </li>
      <li>
        Preparing students to leading positions in academia and in software-intensive industries
      </li>
    </ul>
    <p>
      Our research interests include:
    </p>
    <ul>
      <li>Software architecture and modularity
      <li>
        Software maintenance, evolution, and reengineering
      </li>
      <li>
        Software quality
      </li>
    </ul>
  </div>
  <p>
    We disseminate our research by publishing papers in high-quality software engineering venues and by implementing open
    Source prototypes. We usually evaluate our solutions using credible datasets.
  </p>
</div>


