<mat-toolbar>
  <div class="header-container">
    <div class="header-logo text-left">
      <a routerLink="/">
        oss project health
      </a>
    </div>
    <div class="header-links text-right">
      <ul class="header-links-list">
        <li class="header-links-list-item">
          <a routerLink="/">
            Home
          </a>
        </li>
        <li class="header-links-list-item">
          <a routerLink="/about">
            About
          </a>
        </li>
      </ul>
    </div>
  </div>
</mat-toolbar>
