@font-face {
  font-family: Hyeon;
  src: url('/assets/fonts/DoHyeon/DoHyeon-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: DosisBold;
  src: url('/assets/fonts/Dosis/Dosis-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Dosis;
  src: url('/assets/fonts/Dosis/Dosis-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: DosisLight;
  src: url('/assets/fonts/Dosis/Dosis-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: FiraSansBold;
  src: url('/assets/fonts/FiraSans/FiraSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url('/assets/fonts/FiraSans/FiraSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: FiraSansLight;
  src: url('/assets/fonts/FiraSans/FiraSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

