.app {
  background: #444 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpi/P//PwM6YGLAAuCCmpqacC2MRGsHCDAA+fIHfeQbO8kAAAAASUVORK5CYII=);
  height: 100%;
}

.main-router-container {
  width: 80%;
  display: flex;

  margin: auto;
  justify-content: center;
  height: calc(100vh - 168px);

}

@media (max-width: 540px){
  .main-router-container {
    width: 100%;
    height: auto;
  }
}

