mat-toolbar {
  padding: 0 80px;
  justify-content: space-between;
}

.footer-toolbar-mobile{
  display: none;
}

.footer-logo-image, .footer-logo-container{
  height: 100%;
}


@media screen and (max-width: 1040px) {
  .footer-info-links{
    display: flex;
    flex-flow: column;
  }

  .footer-toolbar-desktop {
    height: 100px;
    padding: 0 50px;
  }
  .footer-logo-container{
    height: 70%;
  }

}

@media screen and (max-width: 693px) {
  .footer-toolbar-desktop {
    display: none;
  }
}


.footer-info-links {
  display: inline-flex;
  list-style: none;
  font-size: 0.6em;
  & > li:not(:last-child) {
    padding-right: 50px;
  }
  & > li {
    display: flex;
    align-items: center;
  }
}

.footer-info-links-text{
  padding-left: 0.7em;
  font-size: 0.9em;
}

.footer-icon {
  width: 20px;
  height: 20px;
}
