<mat-toolbar class="footer-toolbar-desktop">
  <div class="footer-logo-container">
    <img class="footer-logo-image" src="../../../../assets/images/aserg_ufmg_logo.png" alt="">
  </div>
  <div class="footer-info-container">
    <ul class="footer-info-links">
      <li class="footer-info-links-address">
        <i-map-pin class="footer-icon"></i-map-pin>
        <span class="footer-info-links-text">
          Universidade Federal de Minas Gerais
        </span>
      </li>
      <li class="footer-info-links-phone">
        <i-phone class="footer-icon"></i-phone>
        <span class="footer-info-links-text">
          +55 31 3409 5860
        </span>
      </li>
      <li class="footer-info-links-email">
        <i-mail class="footer-icon"></i-mail>
        <span class="footer-info-links-text">
          lucianomilen@dcc.ufmg.br
        </span>
      </li>
    </ul>
  </div>
</mat-toolbar>

<mat-toolbar class="footer-toolbar-mobile">
  <mat-toolbar-row>
    <span>First Row</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Second Row</span>
  </mat-toolbar-row>
</mat-toolbar>
