.main-container{
  padding: 100px;
  color: #fff;
}

.main-title {
  font-size: 3.7em;
  text-transform: uppercase;
  font-family: DosisBold, sans-serif;
  padding-bottom: 40px;
}

.main-subtitle {
  font-family: FiraSansLight, sans-serif;
  font-size: 2em;
}

@media screen and (max-width: 930px) {
  .main-container {
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .main-container {
    padding: 10vw;
  }
  .main-title {
    font-size: 8vw;
  }
  .main-subtitle {
    font-size: 4vw;
  }
}
